APP_NAME=Remuneraciones Chile
APP_ENV=production
APP_ROOT=/
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=remuneraciones
DB_USERNAME=remuneraciones
DB_PASSWORD=cambiar
SESSION_NAME=remuneraciones_session
